/* 여기다가 img 외에 gif ul li도 넣어보자*/

img {
    width: 100vw;
    transform: translateX(50%);
    opacity: 0;
    transition: all 500ms;
}

.fade {
    transform: translateX(0);
    opacity: 1.0;
    transition: all 500ms;
}