@font-face 
{
  font-family: 'PressStart2P-vaV7';
  src: url(font/PressStart2P-vaV7.ttf);
}

@font-face {
  font-family: 'Fipps-Regular';
  src: url(font/Fipps-Regular.otf);
}

.section_contents {
  font-family: Fipps-Regular;
  color: black;
  font-size: 15px;

  padding-left: 40px;
  background-color: white;
  display: inline-block;
  padding: 10px 20px;
  border: thick double black;
  text-align: left;
}

#section1 {    
  text-align: center;
  font-family: PressStart2P-vaV7;
  font-size: 25px;
}

#section1 h1 {
  padding-top: 20px;
}

#section1 img {
  width: 400px;
  padding-top: 10px;
}


#section2 {
  background-color: #fd99a7;
  text-align: center;
}

#section3 {
  text-align: center;
  background-color: #E0FFFF;
}

#section4 {
  text-align: center;
  font-family: PressStart2P-vaV7;
  font-size: 15px;
  background-color: #BED742;
}

#section5 {
  text-align: center;
  background-color: #FEEEED;
}


#section6 {
  text-align: center;
  background-color: #FCAF17;
}

#section7 {
  position: static;
  top: 0;
  display: flex;
  height: 78%;
}

.section7_img {
  width: 150px;
  height: 150px;
  padding-top: 200px;
}

.item {
  width: 80vw;
  height: 100%;
  text-align: center;
}

.item1{background-color: rgb(82, 128, 0);}
.item2{background-color: rgb(0, 255, 255);}
.item3{background-color: rgb(255, 212, 0);}
.item4{background-color: rgb(127, 0, 255);}
.item5{background-color: rgb(255, 154, 255);}
.item6{background-color: orange;}
.item7{background-image: linear-gradient(90deg, red, orange, yellow, green, blue, navy, purple);}

/* typing text */ 

p.typing-txt {
  display: none;
}

.typing {
  /*       position: absolute;*/
  display: inline-block;
  animation-name: cursor;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  border-right: 1px solid #ccc;
}

@keyframes cursor {
  0% {
    border-right: 1px solid #fff;
  }
  50% {
    border-right: 1px solid #000;
  }
  100% {
    border-right: 1px solid #fff;
  }
}



/* imageSlide */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    text-align: center;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    background-color: #717171;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  
  .prev {
      right: 950px;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    font-family: Fipps-Regular;
    color: black;
    font-size: 15px;
    padding: 20px 12px;
    position: relative;
    bottom: 8px;
    width: 100%;
    text-align: center;
    background-color: white;
    border: thick double black;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }